h1
{
color: rgb(80, 45, 53);
font: 'Segoe UI';
font-size: 4vw;
text-align: center;
}

h2
{
    color: rgb(80, 45, 53);
    font: 'Segoe UI';
    font-size: 3vw;
    text-align: center;

}

h3{
    color: rgb(83, 61, 112);
    font: 'Segoe UI';
    font-size: 2vw;
    text-align: center;
}

h5
{
    color: snow;
    font-family: sans-serif;
    font-size:15px;
    text-align: center;

}


p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 25px;
    }

.bq {
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* color: rgb(0, 0, 0); */
      font-size: 25px;
      }
    

/*Navbar formatting*/
#navbar{
    overflow: hidden;
    background-color: rgb(80, 45, 53);
    padding: 4px 10px;
    position: fixed;
    /* border-radius:  8px; */
    top: 0;
    width: 100%;
    transition: top 0.2s;
    z-index: 5;
}

#navbar a {
    float: left;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: snow;
    font-size: 17px;
    padding:15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: antiquewhite;
    color: rgb(80, 45, 53)
}

   .container img {
        object-fit: cover;
    }   

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0 10%; */
    z-index: 2;
    /* padding: 2px; */
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 15px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px; 
    font-weight: bolder;
    font-size: 4vw;
  }

  /* Join now button */
  .container .btn {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: white;
      background-color: rgb(80, 45, 53);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      padding: 10px 15px;
      cursor:pointer;
      /* border-radius: 5px; */
      text-align: center;
  }

/* hover effect over join now button */ 
  .container .btn:hover {
      background-color: black;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
  * {box-sizing: border-box;}

  /* Remove extra left and right margins, due to padding */
.row_image {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 5%;
  padding: 5px;
  /* or -5px; */
}

/* Float three columns side by side */
.column_image {
    float: left;
    width: 33.33%;
    padding: 0 5px;
    z-index: 1;
}

/* Float two columns side by side */
.column_image_home {
  float: left;
  width: 50%;
  padding: 0 5px;
  z-index: 1;
}

/* Float three columns side by side */
.column_full_width {
  float: left;
  width: 100%;
  padding: 0 5px;
  z-index: 1;
}

/* Style the counter cards */
.card_home {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 5px;
  text-align: center;
  vertical-align: center;
  margin:auto;
  float:center;
  background-color: #f1f1f1;
  height: 300px;
  width: 500px;
  border: 10px #008cd2;
  /* For demo purposes only; will be removed */
}  

/* Center the full-sized image */
.image_full {
  position: relative;
  text-align: center;
}

.image_full_centered {
  /* display: inline-block; */
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.image_desc_button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(80, 45, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px 15px;
    cursor:pointer;
    /* border-radius: 5px; */
    text-align: center;
}

Form {
    width: 1000px;
    background: none;
    margin: 0 auto; 
    padding: 20px;
}

  /* input fields */
  input[type=text], input[type=password], input[type=address], input[type=tel], textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px ridge palegoldenrod;
    border-radius: 5px;
    background: #f1f1f1;
  }
  
 ul.a {
     list-style-type: circle;
     list-style-position: inside;
     text-align: center;
    
 }

  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
.search {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 5%;
}

.searchTerm {
    width: 100%;
    border: 3px solid rgb(0, 0, 0);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: rgb(80, 45, 53);
}
.searchTerm:focus{
    color: rgb(0, 0, 0);
  }


  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(80, 45, 53);
    background: rgb(80, 45, 53);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  /* photo gallery */

  .wrap {

    width: 100%;
    position: relative;
    display: flex;   
  }


  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  /* Responsive layout: one column layout instead of three columns */
  @media screen and (max-width: 1536px) {
    .column_image, .column_image_home, p, h1, h2, .centered, .bq, .container .btn, form {
      /* font-size: 4vw; */
      font-size: 15px;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

    /* Responsive layout: one column layout instead of three columns */
    @media screen and (max-width: 1536px) {
      #navbar {
        font-size: 3vw;
        /* -ms-flex: 100%;
        flex: 100%;
        max-width: 100%; */
      }
    }

/* Clear floats after the columns */
.row_image:after {
  content: "";
  display: table;
  clear: both;
}

/*The container for the about us section*/

  .container_about{

border-radius: 10px;
background-color: palegoldenrod;
padding: 20px 40px 40px 0px;
max-width: 100%;

  }
/* about us image*/
  .container_image{

    display: inline-block;
    vertical-align: top;
    max-width: 35%;
    margin: 20px 30px 0px 85px;
   
    
    
  }
/*text running along the image for the about us page*/
  .container_text{

    display: inline-block;
    
    max-width: 50%;
    margin: 20px 30px 0px 50px ;
    @media (max-width: 700px) { 
        width: 100%;
    }
    }



  .footer{
  overflow: hidden;
    background-color: rgb(80, 45, 53);
    padding: 4px 10px;
    position: relative;
    /* border-radius:  8px; */
    bottom: 0;
    width: 100%;
    height: auto;
    transition: top 0.2s;
    /* z-index: 5; */
  }
 

  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    margin: 0 5%;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }










.topnav {
  overflow: hidden;
  background-color: #502d35;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: #dbdbdb;
  color: black;
}

.topnav a.active {
  background-color: whitesmoke;
  color: #502d35;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1536px) {
  .topnav a {
    font-size: 15px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}