.menubar {
  list-style-type: none;
  text-align: center;
  margin:0 0%;
  padding:10px;
  overflow: hidden;
  background-color: crimson;
  position: -webkit-sticky ;
  position:sticky;
  top:0;
}

.menubar a{
  float: left;
  display: block;
  color:rgb(75, 230, 83)  ;
  text-align:center;
  padding : 20px 20px;
  font-size: 20px;
  text-decoration: none;
}

.menubar a.right {
  float: right;
}
.menubar a:hover{
  background-color: aquamarine;
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: crimson;
  font-size: 20px;
  color: rgb(75, 230, 83)  ;
  margin: 0 2%;
}


.leftcol {   
  float: left;
  width: 67%;
 
}

.rightcol {
  float: left;
  width: 33%;
  background-color: #f1f1f1;
  
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.thumbimg {
  background-color: #aaa;
  width: 30%;
  padding: 20px;
  overflow:scroll;
}

.card {
  background-color: rgb(12, 5, 5);
  padding: 20px;
  margin-top: 0px;
  color:white;
}

.row, .CatRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.container {
  position: relative;
  height: 660px;
  width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.container a {
  float: left;
  margin: 20px;
}
 


.big {
  position: absolute;
  top: 900px;
  left: 20px;
 
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
  transition: top 1s ease;
}

.thumb {
  position: relative;
  bottom: 0px;
  left:5px;
}

.featured {
  top: 260px;
  left: 20px;
  z-index: -3;
}

a:hover .thumb {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
 
a:hover .big {
  top: 260px;
}

.CatRow {
  margin: 0 20%;
  padding: 10px;
 
}
  .CatCol {
  float: left;
  width: 27%;
  padding: 0 20px;
 
}

.CatCard {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 300px;
  
}
 